{
  "parserOptions": {
    "sourceType": "commonjs"
  },
  "rules": {
    "semi": "error",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "none",
        "bracketSpacing": true,
        "arrowParens": "avoid"
      }
    ]
  }
}
